@model LaVeguita.Entities.Usuario

@{
    ViewData["Title"] = "Editar Usuario";
}

<div class="container" style="margin-top: 50px;">
    <h2>Editar Usuario</h2>
    <hr />

    <div class="row">
        <div class="col-md-4">
            <form asp-action="Editar" method="post">
                <input type="hidden" asp-for="IdUsuario" />

                <div class="form-group mb-3">
                    <label class="control-label">Nombre de Usuario</label>
                    <input asp-for="NombreUser" class="form-control validar-realtime" required />
                           class="form-control"
                           onkeypress="return validarSinTildes(event)"
                           required />
                </div>

                <div class="form-group mb-3">
                    <label class="control-label">Correo Electrónico</label>
                    <input asp-for="CorreoUsu" class="form-control validar-realtime" required />
                           type="email"
                           class="form-control"
                           onkeypress="return validarSinTildes(event)"
                           required />
                </div>

                <div class="form-group mb-3">
                    <label class="control-label">Teléfono</label>
                    <input asp-for="Fono" type="number" class="form-control validar-realtime" required />
                </div>

                <div class="form-group mb-3">
                    <label class="control-label">Asignar Rol de Usuario</label>
                    <select asp-for="IdRolUsuario" class="form-control"
                            asp-items="@(new SelectList(ViewBag.Roles, "IdRolUsuario", "Nombre"))">
                        <option value="">-- Seleccione un Cargo --</option>
                    </select>
                    <span asp-validation-for="IdRolUsuario" class="text-danger"></span>
                </div>

                <div class="form-group mt-4">
                    <button type="submit" class="btn btn-success">Guardar Cambios</button>
                    <a asp-action="Index" class="btn btn-secondary">Volver a la lista</a>
                </div>
            </form>
        </div>
    </div>
</div>